<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login User</title>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    </head>
    <body>
        <input type="text" id="userName" placeholder="enter username">
        <input type="text" id="password" placeholder="enter password">
        <button>Login</button>

        <script>
            function success(data){
                localStorage.setItem("token",data.token );
                console.log(data.token);
            }
            $("button").click(function(e){
                let userName = $("#userName").val();
                let password = $("#password").val();
                let obj = {
                    userName: userName,
                    password: password
                };
                // console.log(obj);
                $.ajax({
                    url: "/login/user",
                    type: "POST",
                    success: success,
                    contentType: "application/json",
                    data: JSON.stringify(obj),
                    headers: Authoi
                });
            });
        </script>
    </body>
</html>